<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta>
    <title>Order Details</title>
</head>
<body>
<div class="container">
    <h1>Order Details</h1>
    <p>Customer: <span th:text="${username}"></span></p>
    <p>Order Id: <span th:text="${orderNumber}"></span></p>

    <table>
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.price}"></td>
        </tr>
        </tbody>
    </table>

    <div class="footer">
        <p>Total Amount: $<span th:text="${amount}"></span></p>
        <p>Kishor Pandey</p>
    </div>
</div>
</body>
</html>