# db config information
DB_URL=your_value_here
DB_PORT=your_value_here
USER_SERVICE_DB_NAME=your_value_here
DB_USERNAME=your_value_here
DB_PASSWORD=your_value_here


# mail configuration
MAIL_HOSTNAME=your_value_here
MAIL_PORT=your_value_here
MAIL_USERNAME=your_value_here
MAIL_PASSWORD=your_value_here

# others config
USER_EMAIL=your_value_here
USER_SERVICE_BACKEND_URL=your_value_here