server:
  port: 9005
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/notification_db
    username: postgres
    password: kishor@2233#
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
mail:
  hostname: smtp-relay.brevo.com
  port: 587
  username: 9487cf001@smtp-brevo.com
  password: 8IhPqrEZsjA927wz
user:
  email: kishorpandey981@gmail.com